*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
p{
    color: white;
    font-size: 30px;
}
header {
    background-color: rgb(7, 7, 128);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.h1{
    width:320px;
    margin-bottom: 20px;
    color: blue;
    font-size: 30px;
}
span{
    color: #ff0a54;
}
.nav0 a{
    color: white;
    margin-left: 20px;
    
   
}
.sec1{
    background-image: url(./Images/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
   width: 100%;
}
.article{
    color: blue;
   margin: 200px 200px;
}
.h2-1{

    padding-top: 30px;
    color: black;
    font-size: 70px;
  

}

.art2{
    display: flex; 
    width: 700px;
   
 
}
.sec2{
    display: flex;
    gap: 2opx;
    p{
        width: 50%;
    }
}
.sec3{
    display: flex;
    margin-top: 40px;
    background-color: rgb(94, 91, 91);
    justify-content: space-between;
   

}
.div1{
    margin-left: 100px;
    font-size: 25px;
}

button{
    cursor: pointer;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    background-color: rgb(88, 86, 86);
    border:solid
    chocolate
    
    

}
.sec4{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width:100%;
    height:100vh;
    align-items: center;
    padding-left: 50px;
}

.art1{
    background-color: rgb(151, 14, 14);
    font-size: 20px;
    align-content: center;
    height: 400px;
    color: white;
    justify-content: center;
}
.p1{
    width:450px ;
    font-size: 20px;
    color: blue;
}
.five{
    background-color: #ff0a54;
    width:100%;
    height:90vh;
}
.sb{
    width: 50px;
    height: 50px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top:50px;
}
.guy{
    margin-left:30%;
    margin-right:30%;
    margin-top:50px;
    width:50%;
    color: #ffffff;
}
.name{
    margin-left:50%;
    margin-right:50%;
    color: #ffffff;
}
.lv{
    color:black;
    font-size: 20px;
    width:50%;
    margin-top: 20px;
}
.lv1{
    color:black;
    font-size: 20px;
    width:50%;
    margin-top: 20px;
    margin-bottom:20px;
}
.div2{
    margin-right:170px;
}
.article1{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.vh{
   color: black;
   font-size: 20px;
   width:70%;
}
.vh1{
    color: #ff0a54;
    font-size: 20px;
    width:70%;
    margin-top:20px;
    margin-bottom:20px;
 }
 .sec6{
    width:100%;
    height:60vh;
    margin-left:30px;
    margin-right:30px;
 }
 .div12{
    margin-right:70px;
 }

 .footer {
    background-color: black;
    padding: 20px;
    color: #ffffff;
    text-align: center;
 }
